<table style="width: 100%;background: #261fce;" align="center">
		<tbody style="border-collapse: separate; width: 100%; background-color: #f6f6f6;">

			<tr>
				<td>
					<img src="http://localhost:4502/apps/foundation/components/content/header/logo/subra-logo-185x80.png" style="margin: 0 auto;display: block;">
				</td>
			</tr>
			<tr>
				<td>
					<span>
						Hello <h4 style="display:inline-block;">${recipientName}</h4>,
					</span>
                    <span>
                    	<p>Greetings from Subra!</p>
                    </span>
                    <span>
                    	<p>Greetings from Subra! Greetings from Subra! Greetings from Subra! Greetings from Subra! Greetings from Subra!Greetings from Subra!Greetings from Subra!Greetings from Subra!Greetings from Subra! ${message}</p>
                    </span>
                    <br>
				</td>
			</tr>
						<tr>
				<td>
					<div style="background-color: #f6f6f6;">
						<img src="http://localhost:4502/apps/foundation/components/content/header/logo/subra-logo-185x80.png">
						<span>
							this email is sent oto  -- ${recipientName}	
						</span>
					</div>

				</td>
			</tr>
		</tbody>
	</table>