<p data-sly-test="${properties.text}">Text property: ${properties.text}</p>

<pre data-sly-use.hello="org.subra.aem.foundation.core.models.HelloWorldModel">
HelloWorldModel says:
${hello.message}
</pre>

<pre data-sly-use.pm="org.subra.aem.foundation.core.models.ProductModel">
ProductModel says:
${pm.product.id}
</pre>
