<sly data-sly-use.clientLib="/apps/foundation/components/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories=properties.pageClientLibs}"/>
 
<div class="scomponent subra-carousel carousel slide" data-ride="carousel" data-interval="5000" id="subra-bg-carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
	  <li data-target="#subra-bg-carousel" data-slide-to="0" class="active"></li>
	  <li data-target="#subra-bg-carousel" data-slide-to="1"></li>
	  <li data-target="#subra-bg-carousel" data-slide-to="2"></li>
	  <li data-target="#subra-bg-carousel" data-slide-to="4"></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="slide d-block w-100" src="${component.path}/images/carousel-1.jpg" alt="First slide">
			<div class="hero">
				<hgroup>
					<h2>We are creative</h2>        
					<h3>Get start your next awesome project</h3>
				</hgroup>
				<button class="btn btn-hero btn-lg" role="button">See all features</button>
			</div>
		</div>
		<div class="carousel-item">
			<img class="slide d-block w-100" src="${component.path}/images/carousel-2.jpg" alt="Second slide">
			<!--<div class="hero">        
				<hgroup>
					<h2>We are smart</h2>        
					<h3>Get start your next awesome project</h3>
				</hgroup>       
				<button class="btn btn-hero btn-lg" role="button">See all features</button>
			</div>-->
		</div>
		<div class="carousel-item">
			<img class="slide d-block w-100" src="${component.path}/images/carousel-3.jpg" alt="Third slide">
			<div class="hero">        
				<hgroup>
					<h2>We are amazing</h2>        
					<h3>Get start your next awesome project</h3>
				</hgroup>
				<button class="btn btn-hero btn-lg" role="button">See all features</button>
			</div>
		</div>
		<div class="carousel-item">
			<img class="slide d-block w-100" src="${component.path}/images/carousel-4.jpg" alt="Third slide">
			<div class="hero">        
				<hgroup>
					<h2>We are amazing</h2>        
					<h3>Get start your next awesome project</h3>
				</hgroup>
				<button class="btn btn-hero btn-lg" role="button">See all features</button>
			</div>
		</div>
	</div> 
	<a class="carousel-control-prev" href="#subra-bg-carousel" role="button" data-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#subra-bg-carousel" role="button" data-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="sr-only">Next</span>
	</a>
</div>                      		                            