<sly data-sly-use.clientLib="/apps/foundation/components/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories=properties.pageClientLibs}"/>

<footer class="subra-footer">
	<div class="scomponent container-fluid text-white">
		<div class="row footer-disclaimer">
			<div class="col justify-content-center">
				<div class="social-icons">
					<ul>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="w-100"></div>
			<div class="col">
				<div class="language">
					<p>Change Language</p>
				</div>
			</div>
			<div class="col-auto">
				<div class="copyright">
					<p>Copyright &copy; 2019 Subra Technologies. All rights reserved.</p>
					<ul>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Usage Terms</a></li>
						<li><a href="#">Cookies</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script>
		$('.language').on('click', function(){
			alert("Hello, Language Selector Feature Coming Soon");
		});
	</script>
</footer>                  		                            