<sly data-sly-use.clientLib="/apps/foundation/components/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories=properties.pageClientLibs}"/>
<div class="scomponent subra-masonry-grid">
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example t on the card title and make up  on the card title and make up  on the card title and make up ext to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example  on the card title and make up  on the card title and make up  on the card title and make up text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick examp on the card title and make up  on the card title and make up  on the card title and make up  on the card title and make up le text  on the card title and make up  on the card title and make up to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example  on the card title and make up  on the card title and make up  make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on  on the card title and make up  on the card title and make up  on the card title and make up the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to buthe bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the on the card title and make up  on the card title and make up  card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example t on the card title and make up  on the card title and make up  on the card title and make up ext to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example  on the card title and make up  on the card title and make up  on the card title and make up text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick examp on the card title and make up  on the card title and make up  on the card title and make up  on the card title and make up le text  on the card title and make up  on the card title and make up to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example  on the card title and make up  on the card title and make up  make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on  on the card title and make up  on the card title and make up  on the card title and make up the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
</div>
<div class="scomponent subra-masonry-grid">
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example t on the card title and make up  on the card title and make up  on the card title and make up ext to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example  on the card title and make up  on the card title and make up  on the card title and make up text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick examp on the card title and make up  on the card title and make up  on the card title and make up  on the card title and make up le text  on the card title and make up  on the card title and make up to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example  on the card title and make up  on the card title and make up  make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on  on the card title and make up  on the card title and make up  on the card title and make up the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to buthe bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the on the card title and make up  on the card title and make up  card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example t on the card title and make up  on the card title and make up  on the card title and make up ext to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example  on the card title and make up  on the card title and make up  on the card title and make up text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="masonry-item">
		<div class="subra-card card">
			<img src="${component.path}/images/carousel-2.jpg" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick examp on the card title and make up  on the card title and make up  on the card title and make up  on the card title and make up le text  on the card title and make up  on the card title and make up to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
		</div>
	</div>
</div>
<sly data-sly-use.clientLib="/apps/foundation/components/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories=properties.pageClientLibs}"/>
<!--<script src="${component.path}/mansory-grid.js"></script>-->                               		                            