<sly data-sly-use.clientLib="/apps/foundation/components/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories=properties.pageClientLibs}"/>
<nav class="subra-breadcrumb" aria-label="breadcrumb">
	<ol class="breadcrumb m-0">
		<li class="breadcrumb-item"><a href="#">Home</a></li>
		<li class="breadcrumb-item"><a href="#">Library</a></li>
		<li class="breadcrumb-item active" aria-current="page">Data</li>
	</ol>
</nav>                    		                            