<nav class="scomponent subra-breadcrumb" aria-label="breadcrumb"
	 data-sly-use.breadcrumb="org.subra.aem.foundation.core.models.BreadcrumbModel"
	 data-sly-use.template="/apps/kajado/components/templates/common.html"
	 data-sly-test.isNotEmpty="${breadcrumb.items.size > 0}">
	<ol class="breadcrumb m-0"
        itemscope itemtype="http://schema.org/BreadcrumbList"
        data-sly-list.navItem="${breadcrumb.items}">
        <li class="breadcrumb-item${navItem.active ? ' active' : ''}"
        	aria-current="{navItem.active ? 'page' : ''}"
            itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="${navItem.link}"
               class="breadcrumb-item-link"
               itemprop="item"
               data-sly-unwrap="${navItem.active}">
               ${navItem.label}
            </a>
            <meta itemprop="position" content="${navItemList.count}" />
        </li>
    </ol>
</nav>
<sly data-sly-call="${template.placeholder @ isEmpty=!isNotEmpty, cssClass='subra-cmp-breadcrumb'}"/>
