<sly data-sly-use.clientLib="/apps/foundation/components/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories=properties.pageClientLibs}"/>
<header class="subra-header navbar navbar-default navbar-fixed-top">
	<div class="scomponent container-fluid">
		<div class="navbar-header header-logo">
			<a class="navbar-brand" href="#"><img class="logo" src="${component.path}/logo/subra-logo-185x80.png"></a>
		</div>
		<ul class="header-center">
			<li class="active"><a href="#">Home</a></li>
			<li><a href="#">Page 1</a></li>
			<li><a href="#">Page 2</a></li>
		</ul>
		<ul class="header-right">
			<li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
			<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
		</ul>
	</div>
</header>                  		                            