<div class="scomponent container-fluid"
	 data-sly-use.carousel="org.subra.aem.foundation.core.models.CarouselModel"
	 data-sly-use.template="/apps/kajado/components/templates/common.html"
	 data-sly-set.carouselList="${carousel.carouselItems}" 
	 data-sly-test.isNotEmpty="${!carouselList.isEmpty}">
	<div class="subra-carousel carousel slide" data-ride="carousel" data-interval="${properties.interval || '5000'}" id="subra-bg-carousel">
		
		<!-- /* Indicators */ -->
		<ol class="carousel-indicators" data-sly-list="${carouselList}">
		  <li data-target="#subra-bg-carousel" data-slide-to="${itemList.index}" class="${itemList.first ? 'active' : ''}"></li>
		</ol>
		
		<!-- /* Wrapper for slides */ -->
		<div class="carousel-inner" data-sly-list="${carouselList}">
			<div class="carousel-item${itemList.first ? ' active' : ''}">
				<div class="slide" style="background-image:url(${item.image @ context='styleString'});"></div>
				<div class="hero">
					<!-- /* TODO: remove depricated hgroup */ -->
					<hgroup data-sly-unwrap="${!(item.heading || item.subHeading)}">
						<h2 data-sly-test.heading="${item.heading}">${heading}</h2>        
						<h3 data-sly-test.subHeading="${item.subHeading}">${subHeading}</h3>
					</hgroup>
					<button class="btn btn-hero btn-lg" role="button"
							data-sly-test="${item.buttonText && item.buttonLink}">
						<a href="${item.buttonLink}">
							${item.buttonText}						
						</a>
					</button>
				</div>
			</div>
		</div> 
		
		<!-- /* Previous Button */ -->
		<a class="carousel-control-prev" href="#subra-bg-carousel" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">${'Previous' @ i18n}</span>
		</a>
		
		<!-- /* Next Button */ -->
		<a class="carousel-control-next" href="#subra-bg-carousel" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">${'Next' @ i18n}</span>
		</a>
		
	</div>
</div>

<sly data-sly-call="${template.placeholder @ isEmpty=!isNotEmpty, cssClass='subra-cmp-carousel'}"/>
